/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  text-rendering: optimizeLegibility;
}

body {
  background: #b3ffe6;
  font-family: 'Titillium Web', sans-serif;
}

#thanks {
  display: none;
}

#description{
  order: 1;
  font-size: 1.388em;
  width: 37%;
  float: left;
}

#box {
  order: 2;
  font-size: 1.111em;
  width: 37%;
  float: right;
}

#box,
#description {
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #2c516d;
  padding: 2.222em; /* 40 / 18 = 2.22222222223 */
  margin: 2.5%;
  border-radius: 0.222em; /* 4 / 18 = 0.22222222223 */
  color: #ffffff;
}

#box,
#description{
  display: flex;
  flex-flow: wrap row;
}

h1 {
  margin: 1%;
  padding-top: 0.555em; /* 10 / 18 = 0.555555556 */
  padding-bottom: 0.555em; /* 10 / 18 = 0.555555556 */
  padding-right: 1.112em; /* 20/18 = 1.1111111111112 */
  padding-left: 1.112em; /* 20/18 = 1.1111111111112 */
  font-size: 2.222em;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  background: #1ab188;
}

h2{
  padding-top: 0.278em; /* 5 / 18 = 0.27777777778 */
  padding-bottom: 0.278em; /* 5 / 18 = 0.27777777778 */
  padding-right: 1.112em; /* 20/18 = 1.1111111111112 */
  padding-left: 1.112em; /* 20/18 = 1.1111111111112 */
  background: #1ab188;
  text-align: center;
  color: #ffffff;
  font-size:2em; /* 36 / 18 = 2 */
  font-weight: 250;
  margin: 0.555em; /* 10 / 18 = 0.555555556 */
}

label {
  color: #ffffff;
  padding: 0.555em; /* 10 / 18 = 0.555555556 */
}

input {
  float: right;
  margin-right: 1.112em; /* 20/18 = 1.1111111111112 */
}

.first,
.email,
.password {
  position:relative;
  margin-bottom:1.112em; /* 20/18 = 1.1111111111112 */
}

.submit {
  display:block;
  width:100%;
  border:0;
  border-radius: 0.111em; /* 2 / 18 = 0.1111111111 */
  font-size:2em; /* 36 / 18 = 2 */
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
   -webkit-appearance: button;
}

@media screen and (max-width: 69.375em){
  #description,
  #box{
    flex: 1 0 90%;
    flex-flow: wrap column;
    height: auto;
    font-size: 1.222em;
    width: auto;
    float: none;
    margin-left : 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 27.8125em){
  #description,
  #box{
    flex: 1 0 90%;
    flex-flow: wrap column;
    height: auto;
    font-size: 1em;
    width: auto;
    float: none;
    margin-left : 10%;
    margin-right: 10%;
  }
  h1{
    font-size: 1.222em;
  }
  h2{
    font-size: 1.112em;
  }
  .submit{
    font-size: 1.112em;
  }
  input,
  label{
    margin-bottom: 2.5%;
    float: left;
  }
}

@media screen and (max-width: 405px){
  h1{
    font-size: 1.222em;
  }
  h2{
    font-size: 1em;
  }
  .submit{
    font-size: 1em;
  }
}
